.container {
  position: relative;
}

.store-filter {
  z-index: 1;
  width: 14%;
  height: 5%;
  position: absolute;
  right: 6%;
  top: 1.3%;
  box-shadow:1px 1px 1px #c9c8c8;
}

.googleButton {
  z-index: 1;
  width: 7%;
  height: 5%;
  position: absolute;
  right: 22%;
  top: 1.3%;
  box-shadow:1px 1px 1px #c9c8c8;
  
  overflow: hidden; 
}
.googleButton button {
  height: 100%;
  width: 100%;
  float: left;
  border: none;
  border-radius: 2px;
}

.googleButton button:hover {
  transform: scale(1.1);
  background-color: #9fddb0;
  color: white;
}

.store-filter select {
  height: 100%;
  width: 100%;
  float: left;
  border: none;
  border-radius: 2px;
}
