.login-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9fddb0;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 7vh;
    align-items: center;
    justify-content: center;

}

.login-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3%;
}

.input-box {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
  }

.login-signup-button {
    border: none;
    background: rgb(255, 255, 255);
    color: black;
    padding: 12px 24px;
    margin: 8px;
    font-size: 3vh;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
}

.signup {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.back-button {
    border: none;
    background: rgb(255, 255, 255);
    color: black;
    padding: 12px 24px;
    margin: 8px;
    font-size: 3vh;
    border-radius: 8px;
    cursor: pointer;
    position: fixed;
    left: 5%;
    top: 5%;
}