.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stores-wrapper {
   /* Takes up left half of the screen */
  height: 100vh; 
  overflow-y: auto;
  background-color: #00CED1; 
}

.stores-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 90%; 
  padding: 20px;
  background-color: #00CED1; 
}

.store {
  width: 300px; /* Fixed width */
  height: 200px;
  padding: 10px;
  border: 4px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
  
}

.store img {
  width: 100%;
  height: auto;
}

.rating {
  display: flex;
  align-items: center;
}

.stars {
  display: flex;
}

.star {
  color: #f0ad4e;
  font-size: 20px;
}

.FavouritesPage {
  position: absolute;
  display: flex;
  top: 9%; 
  width: 100%;
  overflow: auto; 
}

.FavouriteStores {
  position: flex;
  left: 0;
  top: 10;
  height: 100%;
  width: 50%; 
  transition: width 0.5s ease;
  overflow: auto;
}

.Google {
  position: flex;
  left: 50%; 
  top: 9;

  height: 100%;
  width: 100%; 
  transition: left 0.5s ease; /* Bra transition */
  overflow: auto; 
}

/* For the FavouriteStores component */
.visible {
  display: block;
}

.hidden {
  width: 0; /* Collapse the favourites */
  overflow: hidden; 
}

/* For the Favorites component */
.map-small {
  position: absolute;
  left: 50%; /* Moves the map to start from the middle of the screen */
  width: 50%; /* The map occupies the remaining half of the screen */
  transition: width 0.5s ease, left 0.5s ease; /* Smooth transitions for size and position */
}

.map-large {
  position: absolute;
  left: 0%;
  width: 100%; /* The map occupies the full width of the screen */
  transition: width 0.5s ease, left 0.5s ease; /* Consistent transition settings */
}
/* For the Profile component */
.map-semi-small {
  position: absolute;
  left: 0%;
  width: 70%; /* The map shrinks to 70% width when the profile is visible */
  transition: width 0.5s ease; /* Smooth transition for resizing */
}

.map-semi-large {
  position: absolute;
  left: 0%;
  width: 100%; /* Full width when profile is not visible */
  transition: width 0.5s ease, right 0.5s ease; /* Consistent transition settings */
}

.Factpage {
  position: fixed;
  left: 0;
  top: 5%;
  height: 100%;
  width: 100%; /* Initial width, adjust as needed */
  background-color: #9fddb0; /* Eller valfri bakgrundsfärg */
  z-index: 10; /* Säkerställer att den visas över andra komponenter */
  overflow: auto; /* Tillåter skrollning inom komponenten */
}

.fact-page {
  background-color: #9fddb0; /* Set background color */
  padding: 20px; /* Add padding */
  border-radius: 10px; /* Add border radius */
}

.fact-page-heading {
  color: #ffffff; /* Set text color */
}

.fact-page-heading2 {
  color: #ffffff; /* Set text color */
  font-size: 20px;
}

/*Bröd-text */
.fact-page-text {
  color: #ffffff; /* Set text color */
  font-size: 16px; /* Set font size */
}

.fact-page-list li {
  list-style-type: disc; /* Set bullet style to disc */
  margin-left: 20px; /* Add margin to the left of the list items */
}

.profile-container {
  position: absolute;
  right: 0; /* Start off-screen, to the right */
  top: 10%;
  width: 30%;
  height: 100%;
  background-color: #fff;
  box-shadow: -5px 0 15px rgba(0,0,0,0.2);
  transition: width 0.5s ease;
  z-index: 100;
  padding: 20px;
  overflow: auto; /* Tillåter skrollning inom komponenten */

}

.profile-container.show {
  right: 0; /* Slide in to view */
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}
