.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stores-wrapper {
  height: 100vh; 
  overflow-y: auto;
  background-color: #9fddb0; 
  z-index: 2000;
}

.stores-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 90%; 
  padding: 20px;
  background-color: #9fddb0; 
  z-index: 2000;
}

.members-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  width: 80%; 
  padding: 20px;
  background-color: #9fddb0; 
  z-index: 2000;
}

.store {
  width: 300px; /* Fixed width */
  height: 200px;
  padding: 10px;
  background-color: #fff;
  font-family: 'Georgia', serif; 
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(36, 77, 36, 0.5);
}

.store img {
  width: 100%;
  height: auto;
}

.rating {
  display: flex;
  align-items: center;
}

.stars {
  display: flex;
}

.star {
  color: #f0ad4e;
  font-size: 20px;
}

.FavouritesPage {
  position: absolute;
  display: flex;
  top: 10%; 
  width: 100%;
  overflow: auto; 
}

.FavouriteStores {
  position: flex;
  left: 0;
  top: 10;
  height: 100%;
  width: 100%; 
  transition: width 0.5s ease;
  overflow: auto;
}

.Google {
  position: flex;
  left: 50%; 
  top: 9;
  height: 100%;
  width: 100%; 
  transition: left 0.5s ease; /* Bra transition */
  overflow: auto; 
}

/* For the FavouriteStores component */
.visible {
  display: block;
}

.hidden {
  width: 0; /* Collapse the favourites */
  overflow: hidden; 
}


.Standardpage {
  position: fixed;
  left: 0;
  top: 9%;
  height: 100%;
  width: 100%; /* Initial width, adjust as needed */
  background-color: #9fddb0; /* Eller valfri bakgrundsfärg */
  z-index: 10; /* Säkerställer att den visas över andra komponenter */
  overflow: auto; /* Tillåter skrollning inom komponenten */
}


.fact-page-heading {
  color: #ffffff; /* Set text color */
}

.fact-page-heading2 {
  color: #ffffff; /* Set text color */
  font-size: 20px;
}

/*Bröd-text */
.fact-page-text {
  color: #ffffff; /* Set text color */
  font-size: 16px; /* Set font size */
}

.fact-page-list li {
  list-style-type: disc; /* Set bullet style to disc */
  margin-left: 20px; /* Add margin to the left of the list items */
}

.profile-container {
  position: absolute;
  right: 0; /* Start off-screen, to the right */
  top: 10%;
  width: 30%;
  height: 100%;
  background-color: #fff;
  box-shadow: -5px 0 15px rgba(0,0,0,0.2);
  transition: right 0.5s ease;
  z-index: 100;
  padding: 20px;
  overflow: auto; /* Tillåter skrollning inom komponenten */

}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}
